body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262626;   
    color: #fff; 
}

@keyframes fundo-dinamico {
    0% { background-color: #090908; } /* Cor inicial */
    50% { background-color: #373636; } /* Cor intermediária */
    100% { background-color: #6c6867; } /* Cor final */
}

#title {
    font-family: "Madimi One", sans-serif;
    font-weight: 800;
    font-size: 60px;
    font-style: normal;
}

#sub {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
}


header {
    animation: fundo-dinamico 5s infinite alternate; /* Aplica a animação ao fundo */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
}


nav {
    background-color: #333; 
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 5px 10px; 
    border-radius: 5px;
    transition: background-color 0.3s; 
}

nav a:hover {
    background-color: #555; 
}

nav a.active {
    background-color: #777;
}

section {
    padding: 20px;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#conteudo-foto {
    display: flex;
}

#conteudo {
    width: 70%;
}

#foto img {
    max-width: 100%; /* A imagem não será maior do que o contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
}

.redes-sociais a {
    display: inline-block; /* Para que as âncoras se comportem como blocos */
    background-color: #f2f2f2; /* Cor de fundo cinza claro */
    color: #070101; /* Cor do texto branco */
    text-decoration: none; /* Remove o sublinhado */
    padding: 12px 22px; /* Adiciona um espaçamento interno aos botões */
    margin-right: 20px; /* Adiciona uma margem à direita para separar os botões */
}

.redes-sociais a:hover {
    background-color: #ddd; /* Cor de fundo mais escura quando passar o mouse */
}

footer .redes-sociais {
    text-align: right; /* Alinha os botões à esquerda dentro do footer */
}

/* CSS para ocultar o footer por padrão */
footer {
    transition: transform 0.5s ease; /* Adiciona uma transição suave */
}

.esconder {
    transform: translateY(100%); /* Move o footer para baixo (oculta) */
}
